html,
body {
  padding: 0;
  margin: 0;
}

body {
  height: 100vh;
  width: 100vw;
}

.header {
  display: flex;
  padding: 8px;
}

.btn {
  flex-grow: 1;
  padding: 8px;
}

.container {
  display: flex;
  height: 100%;
}

.row {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
}

.square {
  border: solid black 1px;
  flex-grow: 1;
}
